@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('http://allfont.ru/allfont.css?fonts=montserrat');

html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


.text-white {
    color: white;
}

/*Background градиент*/

body.site-index {
    background: linear-gradient(136deg, #54ACB2, #D5A2DC) no-repeat;
    background-blend-mode: hard-light;
}


body.site-index::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100vh;
    background: url("image/best.jpg") center / cover no-repeat;
    filter: blur(10px) grayscale(100%);
}


h1.index-title {
    color: white;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    text-align: center;
    text-shadow: 0.02em 0.02em 0.02em rgba(0, 0, 0, 0.08);
    filter: drop-shadow(0.045em 0.045em 0.04em rgba(0, 0, 0, 0.21));
}


/**
Стилизация формы Login
 */

.mr-1 {
    margin-right: 1rem;
}



body.site-login
{
    height: 100%;
    /*background: linear-gradient(120deg, #3498db, #8e44ad);*/
}

.wrapper-loginForm {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
}

.loginForm-div {
    /*flex: 1;*/
    max-width: 450px;
    box-sizing: border-box;
    border: 10px solid #d3d3d3;
    border-radius: 10px;
    height: 380px;
}




.login-form
{
    /*width: 360px;*/
    background: #ffffff;
    height: 100%;
    padding: 0 80px;
    /*border: 10px solid #D3D3D3;*/
    /*border-radius: 10px;*/
    position: relative;
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
}

.login-form h1
{
    text-align: center;
    margin-bottom: 60px;
}

.txtb
{
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 30px 0;
}

.txtb input
{
    font-size: 15px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
    /*height: 20px;*/
}

.txtb span::before
{
    content: attr(data-placeholder);
    position: absolute;
    /*top: 50%;*/
    top: -20%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    z-index: -1;
    transition: .5s;
}

.txtb span::after
{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    top: 100%;
    left: 0;
    background: linear-gradient(120deg, #3498db, #8e44ad);
    transition: .5s;
}

.focus + span::before
{
    top: -5px;
}

.focus + span::after
{
    width: 100%;
}

.logbtn
{
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background: linear-gradient(120deg, #3498db, #8e44ad,#3498db);
    background-size: 200%;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: .5s;
}

.logbtn:hover
{
    background-position: right;
}

.bottom-text
{
    margin-top: 60px;
    text-align: center;
    font-size: 13px;
}



@media screen and (min-width: 0px) and (max-width: 768px) {
    .mr-1 {
        margin-right: 0;
    }

    .wrapper-loginForm {
        flex-wrap: wrap;
    }

    .loginForm-div {
        width: 100%;
        margin-bottom: 10px;
    }
    .wrapper-loginForm div:first-child {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .mr-1 {
        margin-right: 1rem;
    }

    .wrapper-loginForm {
        flex-wrap: wrap;
    }
    .loginForm-div {
        /*min-width: 360px;*/
        margin-bottom: 0px;
    }

}

/* Index Commission */

.st_div_wrapper {
    border: 5px solid darkgrey;
    padding: 40px 80px;
}

.text-decoration-underline {
    text-decoration: underline;
}